{% extends '../_layouts/layout.njk' %}
{% set __PAGE_SLUG__ = "another-page" %}
{% set __PAGE_TITLE__ = "Another Page" %}
{% set __PAGE_DESCRIPTION__ = "Another page description!" %}

{% set __PER_PAGE_CSS__ = true %}
{% set __PER_PAGE_JS__ = true %}

{% block content %}


<div>This is another page content</div>


{% endblock %}
