{% extends '../_layouts/layout.njk' %}
{% set __PAGE_SLUG__ = "index" %}
{% set __PAGE_TITLE__ = "Home Page" %}
{% set __PAGE_DESCRIPTION__ = "Home page description!" %}

{% set __PER_PAGE_CSS__ = true %}
{% set __PER_PAGE_JS__ = true %}

{% block content %}


<div>This is home page content</div>
<br>
<div>Content from /data.json {{ data.misc }}</div>


{% endblock %}
